.card-trans.narrow
  %form.form-signin
  = form_for(:user, :url => {:controller => 'sessions', :action => 'create'}) do |f|
    %h1.text-center Login
    %br
    %label.sr-only{:for => "email"} Endereço de e-mail            
    = f.text_field :email, class: 'form-control', id: 'email', :placeholder => "E-mail ou Usuário", :required => ""
    %label.sr-only{:for => "password"} Senha
    = f.password_field :password, class: 'form-control', id: 'password', :placeholder => "Senha", :required => ""
    .checkbox.mb-3
    .text-center
      %input{:type => "checkbox", :value => "remember-me"} &nbsp Manter conectado
    %br
    %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Entrar
    %br/
    %a.btn.btn-info.btn-block{:href => signup_path} Registrar
