%main.inner.cover.text-dark.shadow-lg{:role => "main"}
  .row.justify-content-center
    .card
      .text-center
        = image_tag(@image.file, alt: "Imagem da pergunta", class: 'img-fluid', style: 'height:auto;width:600px;' )
        .card-body
          %h5
            = @question.description
        %ul.list-group.list-group-flush
          - @answer_opts.each do |answer_opt|
            %li.list-group-item
              %button.btn.btn-light
              = link_to answer_opt.text, :controller => "labels", :action => "saveanswer", :aid => answer_opt.id, :imid => @image.id
        .card-body
          %a.card-link{:href => "#"}
            = link_to "Pular", '/label', :class => 'btn btn-danger'