.container
  %form
    %h2 Contact Us
    .row
      .col-md-6
        .form-group
          %label{:for => "first"} First Name
          %input#first.form-control{:placeholder => "", :type => "text"}/
      / col-md-6
      .col-md-6
        .form-group
          %label{:for => "last"} Last Name
          %input#last.form-control{:placeholder => "", :type => "text"}/
      / col-md-6
    .row
      .col-md-6
        .form-group
          %label{:for => "company"} Company
          %input#company.form-control{:placeholder => "", :type => "text"}/
      / col-md-6
      .col-md-6
        .form-group
          %label{:for => "phone"} Phone Number
          %input#phone.form-control{:placeholder => "phone", :type => "tel"}/
      / col-md-6
    / row
    .row
      .col-md-6
        .form-group
          %label{:for => "email"} Email address
          %input#email.form-control{:placeholder => "email", :type => "email"}/
      / col-md-6
      .col-md-6
        .form-group
          %label{:for => "url"}
            Your Website
            %small Please include http://
          %input#url.form-control{:placeholder => "url", :type => "url"}/
      / col-md-6
    / row
    %label{:for => "contact-preference"} When is the best time of day to reach you?
    .radio
      %label
        %input#contact-preference{:checked => "checked", :name => "contact-preference", :type => "radio", :value => "am"}>/
        Morning
    .radio
      %label
        %input#contact-preference{:checked => "checked", :name => "contact-preference", :type => "radio", :value => "pm"}>/
        Evening
    %label{:for => "newsletter"} Would you like to recieve our email newsletter?
    .checkbox
      %label
        %input#newsletter{:type => "checkbox", :value => "Sure!"}/
        Sure!
    %button.btn.btn-primary{:type => "submit"} Submit


