.container.text-center
  %form
    %h2 New post
    %br
    .row
      .col-md-3
      / col-md-3
      .col-md-6
        .form-group
          %label{:for => "first"} Post title
          %input#first.form-control{:placeholder => "", :type => "text"}/
      / col-md-6
      .col-md-6
      .col-md-3
      / col-md-3
    .row
      .col-md-3
      / col-md-3
      .col-md-6
        .form-group
          %label{:for => "last"} Short description
          %input#last.form-control{:placeholder => "", :type => "text"}/
      / col-md-6
      .col-md-3
      / col-md-3
    .row
      .col-md-3
      / col-md-3
      .col-md-6
        .form-group
          %label{:for => "company"} Company
          %input#company.form-control{:placeholder => "", :type => "text"}/
      / col-md-6
      .col-md-3
      / col-md-3
    / row
    -# CÓDIGO COMENTADO
      %label{:for => "contact-preference"} When is the best time of day to reach you?
      .radio
        %label
          %input#contact-preference{:checked => "checked", :name => "contact-preference", :type => "radio", :value => "am"}>/
          Morning
      .radio
        %label
          %input#contact-preference{:checked => "checked", :name => "contact-preference", :type => "radio", :value => "pm"}>/
          Evening
      %label{:for => "newsletter"} Would you like to recieve our email newsletter?
      .checkbox
        %label
          %input#newsletter{:type => "checkbox", :value => "Sure!"}/
          Sure!
    %button.btn.btn-primary{:type => "submit"} Submit


