.container.text-center
    = form_for :user, :url => {:controller => 'users', :action => 'update'}, :method => "patch" do |f|
        .h1 Editar informações de login
        %br
        .row
            .col-md-3
            .col-md-6
                .form-group
                    %label{:for => "name"} Username
                    = f.text_field :username, class: 'form-control'
            .col-md-3
        .row
            .col-md-3
            .col-md-6
                .form-group
                    %label{:for => "name"} New password
                    = f.password_field :password, class: 'form-control', placeholder: 'Leave blank for no change'
            .col-md-3
        .row
            .col-md-3
            .col-md-6
                .form-group
                    %label{:for => "name"} Confirm new password
                    = f.password_field :password_confirmation, class: 'form-control'
            .col-md-3
        %button.btn.btn-primary{:type => "submit"} Update