%main.inner.cover{:role => "main"}
  .row.justify-content-center
    %h1.cover-heading Meu perfil 
  .row.justify-content-center
    .form-group
    %label Nome:
    =@user.name
  .row.justify-content-center
    .form-group
    %label Username:
    =@user.username
  .row.justify-content-center
    .form-group
    %label E-mail:
    =@user.email
  .row.justify-content-center
    .form-group
    %label Organização:
    =@user.organization
  .row.justify-content-center
    = link_to "Editar perfil", edit_user_path(@user), :class => 'btn btn-dark'
