!!!
%html{:lang => "en"}
  %head
    %title Monolito
  %body.text-center
    %canvas#stars
    #container.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column.text-light.scroll-y
      %header.masthead.mb-auto
        .inner          
      %main.inner.cover{:role => "main"}
        %h1.cover-heading MONOLITO
        %p.lead Inteligência gera inteligência
        %br
        %h3 Quem somos
        %p Uma plataforma que conecta projetos de inteligências artificiais a pessoas. 

        %h3 Por que isso importa
        %p Na área de aprendizado de máquina, um grande desafio é ter em mãos um conjunto de dados rotulados suficiente para que sirva de ‘gabarito’ para o algoritmo - seja durante o desenvolvimento, com o treinamento da inteligência artificial, seja depois, com a validação da acurácia.

        %h3 Como funciona
        %p Se você é um desenvolvedor, aqui você pode depositar seu conjunto de dados, indicar o que precisa ser classificado ou avaliado com relação a esses dados e obter a um custo justo um amplo espectro de respostas dadas por usuários comuns, recebendo de volta em pouco tempo seus dados devidamente rotulados para uso em sua aplicação. 
        %br Se você não desenvolve mas enxerga valor em ajudar os projetos na área e ainda ganhar por isso, o Monolito é para você também. Quanto mais dados você nos ajudar a rotular, mais você ganha! 


        %br/
        %h3 Se interessou? 
        %h3 Veja o vídeo-tutorial abaixo e cadastre-se. 
        %h3 Você pode começar agora mesmo!
        %br
        %br
  
  	  
      %footer.mastfoot.mt-auto
        .inner
          %p
            Cover template for
            = succeed "," do
              %a{:href => "https://getbootstrap.com/"} Bootstrap
            by
            = succeed "." do
              %a{:href => "https://twitter.com/mdo"} @mdo
          %p
            Constellation by
            = succeed "." do
              %a{:href => "https://codepen.io/gabrielaoviedo/"} Gabriela Oviedo

        /
          Bootstrap core JavaScript
          \==================================================
        / Placed at the end of the document so the pages load faster
        %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
        :javascript
          window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
        /
          <script src="bootstrap/js/vendor/popper.min.js"></script>
          <script src="bootstrap/js/bootstrap.min.js"></script>
