!!!
/ saved from url=(0063)https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      .gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
    %link{:href => "./W3.CSS Template_files/css", :rel => "stylesheet", :type => "text/css"}/
    :css
      .gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
    :css
      @media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
    :css
      .gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
    %title W3.CSS Template
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "./W3.CSS Template_files/w3.css", :rel => "stylesheet"}/
    %link{:href => "./W3.CSS Template_files/css(1)", :rel => "stylesheet"}/
    %link{:href => "./W3.CSS Template_files/font-awesome.min.css", :rel => "stylesheet"}/
    :css
      body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
      body, html {
          height: 100%;
          color: #777;
          line-height: 1.8;
      }
      
      /* Create a Parallax Effect */
      .bgimg-1, .bgimg-2, .bgimg-3 {
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
      }
      
      /* First image (Logo. Full height) */
      .bgimg-1 {
          background-image: url('/w3images/parallax1.jpg');
          min-height: 100%;
      }
      
      /* Second image (Portfolio) */
      .bgimg-2 {
          background-image: url("/w3images/parallax2.jpg");
          min-height: 400px;
      }
      
      /* Third image (Contact) */
      .bgimg-3 {
          background-image: url("/w3images/parallax3.jpg");
          min-height: 400px;
      }
      
      .w3-wide {letter-spacing: 10px;}
      .w3-hover-opacity {cursor: pointer;}
      
      /* Turn off parallax scrolling for tablets and phones */
      @media only screen and (max-device-width: 1024px) {
          .bgimg-1, .bgimg-2, .bgimg-3 {
              background-attachment: scroll;
          }
      }
    %script{:charset => "UTF-8", :src => "./W3.CSS Template_files/common.js", :type => "text/javascript"}
    %script{:charset => "UTF-8", :src => "./W3.CSS Template_files/util.js", :type => "text/javascript"}
    %script{:charset => "UTF-8", :src => "./W3.CSS Template_files/map.js", :type => "text/javascript"}
    %script{:charset => "UTF-8", :src => "./W3.CSS Template_files/marker.js", :type => "text/javascript"}
    :css
      .gm-style {
              font: 400 11px Roboto, Arial, sans-serif;
              text-decoration: none;
            }
            .gm-style img { max-width: none; }
    %script{:charset => "UTF-8", :src => "./W3.CSS Template_files/onion.js", :type => "text/javascript"}
    %script{:charset => "UTF-8", :src => "./W3.CSS Template_files/controls.js", :type => "text/javascript"}
    %script{:charset => "UTF-8", :src => "./W3.CSS Template_files/stats.js", :type => "text/javascript"}
    %script{:charset => "UTF-8", :src => "./W3.CSS Template_files/QuotaService.RecordEvent", :type => "text/javascript"}
  %body
    / Navbar (sit on top)
    .w3-top
      #myNavbar.w3-bar
        %a.w3-bar-item.w3-button.w3-hover-black.w3-hide-medium.w3-hide-large.w3-right{:href => "javascript:void(0);", :onclick => "toggleFunction()", :title => "Toggle Navigation Menu"}
          %i.fa.fa-bars
        %a.w3-bar-item.w3-button{:href => "https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm#home"} HOME
        %a.w3-bar-item.w3-button.w3-hide-small{:href => "https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm#about"}
          %i.fa.fa-user
          ABOUT
        %a.w3-bar-item.w3-button.w3-hide-small{:href => "https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm#portfolio"}
          %i.fa.fa-th
          PORTFOLIO
        %a.w3-bar-item.w3-button.w3-hide-small{:href => "https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm#contact"}
          %i.fa.fa-envelope
          CONTACT
        %a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-hover-red{:href => "https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm#"}
          %i.fa.fa-search
      / Navbar on small screens
      #navDemo.w3-bar-block.w3-white.w3-hide.w3-hide-large.w3-hide-medium
        %a.w3-bar-item.w3-button{:href => "https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm#about", :onclick => "toggleFunction()"} ABOUT
        %a.w3-bar-item.w3-button{:href => "https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm#portfolio", :onclick => "toggleFunction()"} PORTFOLIO
        %a.w3-bar-item.w3-button{:href => "https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm#contact", :onclick => "toggleFunction()"} CONTACT
        %a.w3-bar-item.w3-button{:href => "https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm#"} SEARCH
    / First Parallax Image with Logo Text
    #home.bgimg-1.w3-display-container.w3-opacity-min
      .w3-display-middle{:style => "white-space:nowrap;"}
        %span.w3-center.w3-padding-large.w3-black.w3-xlarge.w3-wide.w3-animate-opacity
          MY
          %span.w3-hide-small WEBSITE
          LOGO
    / Container (About Section)
    #about.w3-content.w3-container.w3-padding-64
      %h3.w3-center ABOUT ME
      %p.w3-center
        %em I love photography
      %p
        We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .w3-row
        .w3-col.m6.w3-center.w3-padding-large
          %p
            %b
              %i.fa.fa-user.w3-margin-right>
              My Name
          %br/
          %img.w3-round.w3-image.w3-opacity.w3-hover-opacity-off{:alt => "Photo of Me", :height => "333", :src => "./W3.CSS Template_files/avatar_hat.jpg", :width => "500"}/
        / Hide this text on small devices
        .w3-col.m6.w3-hide-small.w3-padding-large
          %p
            Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      %p.w3-large.w3-center.w3-padding-16 Im really good at:
      %p.w3-wide
        %i.fa.fa-camera>
        Photography
      .w3-light-grey
        .w3-container.w3-padding-small.w3-dark-grey.w3-center{:style => "width:90%"} 90%
      %p.w3-wide
        %i.fa.fa-laptop>
        Web Design
      .w3-light-grey
        .w3-container.w3-padding-small.w3-dark-grey.w3-center{:style => "width:85%"} 85%
      %p.w3-wide
        %i.fa.fa-photo>
        Photoshop
      .w3-light-grey
        .w3-container.w3-padding-small.w3-dark-grey.w3-center{:style => "width:75%"} 75%
    .w3-row.w3-center.w3-dark-grey.w3-padding-16
      .w3-quarter.w3-section
        %span.w3-xlarge 14+
        %br/
        Partners
      .w3-quarter.w3-section
        %span.w3-xlarge 55+
        %br/
        Projects Done
      .w3-quarter.w3-section
        %span.w3-xlarge 89+
        %br/
        Happy Clients
      .w3-quarter.w3-section
        %span.w3-xlarge 150+
        %br/
        Meetings
    / Second Parallax Image with Portfolio Text
    .bgimg-2.w3-display-container.w3-opacity-min
      .w3-display-middle
        %span.w3-xxlarge.w3-text-white.w3-wide PORTFOLIO
    / Container (Portfolio Section)
    #portfolio.w3-content.w3-container.w3-padding-64
      %h3.w3-center MY WORK
      %p.w3-center
        %em
          Here are some of my latest lorem work ipsum tipsum.
          %br/
          Click on the images to make them bigger
      %br/
      / Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width)
      .w3-row-padding.w3-center
        .w3-col.m3
          %img.w3-hover-opacity{:alt => "The mist over the mountains", :onclick => "onClick(this)", :src => "./W3.CSS Template_files/p1.jpg", :style => "width:100%"}/
        .w3-col.m3
          %img.w3-hover-opacity{:alt => "Coffee beans", :onclick => "onClick(this)", :src => "./W3.CSS Template_files/p2.jpg", :style => "width:100%"}/
        .w3-col.m3
          %img.w3-hover-opacity{:alt => "Bear closeup", :onclick => "onClick(this)", :src => "./W3.CSS Template_files/p3.jpg", :style => "width:100%"}/
        .w3-col.m3
          %img.w3-hover-opacity{:alt => "Quiet ocean", :onclick => "onClick(this)", :src => "./W3.CSS Template_files/p4.jpg", :style => "width:100%"}/
      .w3-row-padding.w3-center.w3-section
        .w3-col.m3
          %img.w3-hover-opacity{:alt => "The mist", :onclick => "onClick(this)", :src => "./W3.CSS Template_files/p5.jpg", :style => "width:100%"}/
        .w3-col.m3
          %img.w3-hover-opacity{:alt => "My beloved typewriter", :onclick => "onClick(this)", :src => "./W3.CSS Template_files/p6.jpg", :style => "width:100%"}/
        .w3-col.m3
          %img.w3-hover-opacity{:alt => "Empty ghost train", :onclick => "onClick(this)", :src => "./W3.CSS Template_files/p7.jpg", :style => "width:100%"}/
        .w3-col.m3
          %img.w3-hover-opacity{:alt => "Sailing", :onclick => "onClick(this)", :src => "./W3.CSS Template_files/p8.jpg", :style => "width:100%"}/
        %button.w3-button.w3-padding-large.w3-light-grey{:style => "margin-top:64px"} LOAD MORE
    / Modal for full size images on click
    #modal01.w3-modal.w3-black{:onclick => "this.style.display='none'"}
      %span.w3-button.w3-large.w3-black.w3-display-topright{:title => "Close Modal Image"}
        %i.fa.fa-remove
      .w3-modal-content.w3-animate-zoom.w3-center.w3-transparent.w3-padding-64
        %img#img01.w3-image/
        %p#caption.w3-opacity.w3-large
    / Third Parallax Image with Portfolio Text
    .bgimg-3.w3-display-container.w3-opacity-min
      .w3-display-middle
        %span.w3-xxlarge.w3-text-white.w3-wide CONTACT
    / Container (Contact Section)
    #contact.w3-content.w3-container.w3-padding-64
      %h3.w3-center WHERE I WORK
      %p.w3-center
        %em I'd love your feedback!
      .w3-row.w3-padding-32.w3-section
        .w3-col.m4.w3-container
          / Add Google Maps
          #googleMap.w3-round-large.w3-greyscale{:style => "width: 100%; height: 400px; position: relative; overflow: hidden;"}
            %div{:style => "height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"}
              .gm-style{:style => "position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"}
                %div{:style => "position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(\"https://maps.gstatic.com/mapfiles/openhand_8_8.cur\"), default; touch-action: pan-x pan-y;", :tabindex => "0"}
                  %div{:style => "z-index: 1; position: absolute; left: 50%; top: 50%; transform: translate(0px, 0px);"}
                    %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"}
                      %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 0;"}
                        %div{:style => "position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -248, -95);"}
                          %div{:style => "position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"}
                            %div{:style => "width: 256px; height: 256px;"}
                          %div{:style => "position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"}
                            %div{:style => "width: 256px; height: 256px;"}
                          %div{:style => "position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"}
                            %div{:style => "width: 256px; height: 256px;"}
                          %div{:style => "position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"}
                            %div{:style => "width: 256px; height: 256px;"}
                          %div{:style => "position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"}
                            %div{:style => "width: 256px; height: 256px;"}
                          %div{:style => "position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"}
                            %div{:style => "width: 256px; height: 256px;"}
                    %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"}
                    %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"}
                    %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"}
                      %div{:style => "position: absolute; left: 0px; top: 0px; z-index: -1;"}
                        %div{:style => "position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -248, -95);"}
                          %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"}
                          %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"}
                          %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;"}
                          %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;"}
                          %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;"}
                          %div{:style => "width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"}
                      %div{:style => "width: 27px; height: 43px; overflow: hidden; position: absolute; left: -14px; top: -43px; z-index: 0;"}
                        %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/spotlight-poi2.png", :style => "position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                    %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 0;"}
                      %div{:style => "position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -248, -95);"}
                        %div{:style => "position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"}
                          %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/vt", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                        %div{:style => "position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"}
                          %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/vt(1)", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                        %div{:style => "position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"}
                          %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/vt(2)", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                        %div{:style => "position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"}
                          %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/vt(3)", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                        %div{:style => "position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"}
                          %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/vt(4)", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                        %div{:style => "position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"}
                          %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/vt(5)", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                  .gm-style-pbc{:style => "z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"}
                    %p.gm-style-pbt
                  %div{:style => "z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"}
                    %div{:style => "z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"}
                    %div{:style => "z-index: 4; position: absolute; left: 50%; top: 50%; transform: translate(0px, 0px);"}
                      %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"}
                      %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"}
                      %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"}
                        .gmnoprint{:style => "width: 27px; height: 43px; overflow: hidden; position: absolute; opacity: 0.01; left: -14px; top: -43px; z-index: 0;"}
                          %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/spotlight-poi2.png", :style => "position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;", :usemap => "#gmimap0"}/
                          %map#gmimap0{:name => "gmimap0"}
                            %area{:coords => "13.5,0,4,3.75,0,13.5,13.5,43,27,13.5,23,3.75", :log => "miw", :shape => "poly", :style => "cursor: pointer; touch-action: none;", :title => ""}/
                      %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"}
                %iframe{:frameborder => "0", :src => "./W3.CSS Template_files/saved_resource.html", :style => "z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;"}
                %div{:style => "margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"}
                  %a{:href => "https://maps.google.com/maps?ll=41.878114,-87.629798&z=12&t=m&hl=pt-BR&gl=US&mapclient=apiv3", :style => "position: static; overflow: visible; float: none; display: inline;", :target => "_blank", :title => "Clique para ver esta área no Google Maps"}
                    %div{:style => "width: 66px; height: 26px; cursor: pointer;"}
                      %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/google4.png", :style => "position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
                %div{:style => "background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 230px; height: 148px; position: absolute; left: 5px; top: 110px;"}
                  %div{:style => "padding: 0px 0px 10px; font-size: 16px;"} Dados do mapa
                  %div{:style => "font-size: 13px;"} Dados cartográficos ©2018 Google
                  %div{:style => "width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"}
                    %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/mapcnt6.png", :style => "position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                .gmnoprint{:style => "z-index: 1000001; position: absolute; right: 79px; bottom: 0px; width: 169px;"}
                  .gm-style-cc{:draggable => "false", :style => "user-select: none; height: 14px; line-height: 14px;"}
                    %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
                      %div{:style => "width: 1px;"}
                      %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
                    %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"}
                      %a{:style => "text-decoration: none; cursor: pointer; display: none;"} Dados do mapa
                      %span Dados cartográficos ©2018 Google
                .gmnoscreen{:style => "position: absolute; right: 0px; bottom: 0px;"}
                  %div{:style => "font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);"} Dados cartográficos ©2018 Google
                .gmnoprint.gm-style-cc{:draggable => "false", :style => "z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"}
                  %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
                    %div{:style => "width: 1px;"}
                    %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
                  %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"}
                    %a{:href => "https://www.google.com/intl/pt-BR_US/help/terms_maps.html", :style => "text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);", :target => "_blank"} Termos de Uso
                %button{"aria-label" => "Ativar a visualização em tela cheia", :draggable => "false", :style => "background: none rgb(255, 255, 255); border: 0px; margin: 10px 14px; padding: 0px; position: absolute; cursor: pointer; user-select: none; width: 25px; height: 25px; overflow: hidden; top: 0px; right: 0px;", :title => "Ativar a visualização em tela cheia", :type => "button"}
                  %img.gm-fullscreen-control{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/sv9.png", :style => "position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
                .gm-style-cc{:draggable => "false", :style => "user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;"}
                  %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
                    %div{:style => "width: 1px;"}
                    %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
                  %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"}
                    %a{:href => "https://www.google.com/maps/@41.878114,-87.629798,12z/data=!10m1!1e1!12b1?source=apiv3&rapsrc=apiv3", :rel => "noopener", :style => "font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;", :target => "_blank", :title => "Informar erros no mapa ou nas imagens para o Google"} Informar erro no mapa
                .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{:controlheight => "93", :controlwidth => "28", :draggable => "false", :style => "margin: 10px; user-select: none; position: absolute; bottom: 107px; right: 28px;"}
                  .gmnoprint{:controlheight => "55", :controlwidth => "28", :style => "position: absolute; left: 0px; top: 38px;"}
                    %div{:draggable => "false", :style => "user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;"}
                      %button{"aria-label" => "Aumentar o zoom", :draggable => "false", :style => "background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;", :title => "Aumentar o zoom", :type => "button"}
                        %div{:style => "overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"}
                          %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/tmapctrl.png", :style => "position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"}/
                      %div{:style => "position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"}
                      %button{"aria-label" => "Diminuir o zoom", :draggable => "false", :style => "background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;", :title => "Diminuir o zoom", :type => "button"}
                        %div{:style => "overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"}
                          %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/tmapctrl.png", :style => "position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"}/
                  .gm-svpc{:controlheight => "28", :controlwidth => "28", :style => "background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(\"https://maps.gstatic.com/mapfiles/openhand_8_8.cur\"), default; touch-action: none; position: absolute; left: 0px; top: 0px;"}
                    %div{:style => "position: absolute; left: 1px; top: 1px;"}
                    %div{:style => "position: absolute; left: 1px; top: 1px;"}
                      %div{"aria-label" => "Controle do Pegman no Street View", :style => "width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"}
                        %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/cb_scout5.png", :style => "position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                      %div{"aria-label" => "O Pegman está sobre o mapa", :style => "width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"}
                        %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/cb_scout5.png", :style => "position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                      %div{"aria-label" => "Controle do Pegman no Street View", :style => "width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"}
                        %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/cb_scout5.png", :style => "position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                  .gmnoprint{:controlheight => "0", :controlwidth => "28", :style => "display: none; position: absolute;"}
                    %div{:style => "width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; display: none;", :title => "Girar o mapa em 90 graus"}
                      %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/tmapctrl4.png", :style => "position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                    .gm-tilt{:style => "width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; top: 0px; cursor: pointer;"}
                      %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/tmapctrl4.png", :style => "position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                .gmnoprint{:style => "margin: 10px; z-index: 0; position: absolute; cursor: pointer; left: 0px; top: 0px;"}
                  .gm-style-mtc{:style => "float: left; position: relative;"}
                    %div{"aria-label" => "Mostrar mapa de ruas", "aria-pressed" => "true", :draggable => "false", :role => "button", :style => "direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 28px; font-weight: 500;", :tabindex => "0", :title => "Mostrar mapa de ruas"} Mapa
                    %div{:style => "background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; left: 0px; top: 28px; text-align: left; display: none;"}
                      %div{:draggable => "false", :style => "color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;", :title => "Mostrar mapa de ruas com relevo"}
                        %span{:role => "checkbox", :style => "box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"}
                          %div{:style => "position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"}
                            %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/imgs8.png", :style => "position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"}/
                        %label{:style => "vertical-align: middle; cursor: pointer;"} Relevo
                  .gm-style-mtc{:style => "float: left; position: relative;"}
                    %div{"aria-label" => "Mostrar imagens de satélite", "aria-pressed" => "false", :draggable => "false", :role => "button", :style => "direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 37px; border-left: 0px;", :tabindex => "0", :title => "Mostrar imagens de satélite"} Satélite
                    %div{:style => "background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; right: 0px; top: 29px; text-align: left; display: none;"}
                      %div{:draggable => "false", :style => "color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;", :title => "Mostrar imagens com nomes de rua"}
                        %span{:role => "checkbox", :style => "box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"}
                          %div{:style => "position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"}
                            %img{:alt => "", :draggable => "false", :src => "./W3.CSS Template_files/imgs8.png", :style => "position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"}/
                        %label{:style => "vertical-align: middle; cursor: pointer;"} Marcadores
        .w3-col.m8.w3-panel
          .w3-large.w3-margin-bottom
            %i.fa.fa-map-marker.fa-fw.w3-hover-text-black.w3-xlarge.w3-margin-right
            Chicago, US
            %br/
            %i.fa.fa-phone.fa-fw.w3-hover-text-black.w3-xlarge.w3-margin-right
            Phone: +00 151515
            %br/
            %i.fa.fa-envelope.fa-fw.w3-hover-text-black.w3-xlarge.w3-margin-right
            Email: mail@mail.com
            %br/
          %p
            Swing by for a cup of
            = succeed "," do
              %i.fa.fa-coffee
          %form{:action => "https://www.w3schools.com/action_page.php", :target => "_blank"}
            .w3-row-padding{:style => "margin:0 -16px 8px -16px"}
              .w3-half
                %input.w3-input.w3-border{:name => "Name", :placeholder => "Name", :required => "", :type => "text"}/
              .w3-half
                %input.w3-input.w3-border{:name => "Email", :placeholder => "Email", :required => "", :type => "text"}/
            %input.w3-input.w3-border{:name => "Message", :placeholder => "Message", :required => "", :type => "text"}/
            %button.w3-button.w3-black.w3-right.w3-section{:type => "submit"}
              %i.fa.fa-paper-plane
              SEND MESSAGE
    / Footer
    %footer.w3-center.w3-black.w3-padding-64.w3-opacity.w3-hover-opacity-off
      %a.w3-button.w3-light-grey{:href => "https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm#home"}
        %i.fa.fa-arrow-up.w3-margin-right>
        To the top
      .w3-xlarge.w3-section
        %i.fa.fa-facebook-official.w3-hover-opacity
        %i.fa.fa-instagram.w3-hover-opacity
        %i.fa.fa-snapchat.w3-hover-opacity
        %i.fa.fa-pinterest-p.w3-hover-opacity
        %i.fa.fa-twitter.w3-hover-opacity
        %i.fa.fa-linkedin.w3-hover-opacity
      %p
        Powered by
        %a.w3-hover-text-green{:href => "https://www.w3schools.com/w3css/default.asp", :target => "_blank", :title => "W3.CSS"} w3.css
    / Add Google Maps
    :javascript
      function myMap()
      {
        myCenter=new google.maps.LatLng(41.878114, -87.629798);
        var mapOptions= {
          center:myCenter,
          zoom:12, scrollwheel: false, draggable: false,
          mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);
      
        var marker = new google.maps.Marker({
          position: myCenter,
        });
        marker.setMap(map);
      }
      
      // Modal Image Gallery
      function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
      }
      
      // Change style of navbar on scroll
      window.onscroll = function() {myFunction()};
      function myFunction() {
          var navbar = document.getElementById("myNavbar");
          if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
              navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
          } else {
              navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
          }
      }
      
      // Used to toggle the menu on small screens when clicking on the menu button
      function toggleFunction() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
          } else {
              x.className = x.className.replace(" w3-show", "");
          }
      }
    %script{:src => "./W3.CSS Template_files/js"}
    /
      To use this code on your website, get a free API key from Google.
      Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
