!!!
%html{:lang => "en"}
  %head
    %title Monolito
  %body.text-center
    %canvas#stars
    #container.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column.text-light.scroll-y
      %header.masthead.mb-auto
        .inner          
      %main.inner.cover{:role => "main"}
        %h1.cover-heading Monolito
        %p.lead Reunindo esforço humano pra criar inteligências
        %br
        %h3 Quem somos
        %p Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        %br/
        %h3 Ache-nos
        %p São Paulo, Brasil
        %p Telefone: +55 36877520
        %p Email: monolito@gubi.com
      %footer.mastfoot.mt-auto
        .inner
          %p
            Cover template for
            = succeed "," do
              %a{:href => "https://getbootstrap.com/"} Bootstrap
            by
            = succeed "." do
              %a{:href => "https://twitter.com/mdo"} @mdo
          %p
            Constellation by
            = succeed "." do
              %a{:href => "https://codepen.io/gabrielaoviedo/"} Gabriela Oviedo

        /
          Bootstrap core JavaScript
          \==================================================
        / Placed at the end of the document so the pages load faster
        %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
        :javascript
          window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
        /
          <script src="bootstrap/js/vendor/popper.min.js"></script>
          <script src="bootstrap/js/bootstrap.min.js"></script>
