!!!
%html{:lang => "en"}
  %head
    %title Monolito
  %body.text-center
    %canvas#stars
    #container.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column.text-light.scroll-y
      %header.masthead.mb-auto
        .inner 
      .row.justify-content-center        
        %main.inner.cover{:role => "main"}

          %br
          %br
          %h3 Contato
          %p Tem alguma dúvida ou sugestão? Fale com a gente!
          %br/
          %h3 Informações para contato:
          %p Rua Dont Pânic, 42 - São Paulo, Brasil
          %p Telefone: +55 36877520
          %p Email: monolito@gubi.com
          %h3 Envie-nos uma mensagem
          %form.form-signin       
            %label.sr-only{:for => "name"} Nome:   
            %input.form-control{"aria-describedby" => "basic-addon1", "aria-label" => "name", :placeholder => "Nome", :required => "", :type => "text"}/      
            /= f.text_field :email, class: 'form-control', :placeholder => "Endereço de e-mail", :required => ""
            %label.sr-only{:for => "email"} Endereço de e-mail:  
            %input.form-control{"aria-describedby" => "basic-addon1", "aria-label" => "email", :placeholder => "E-mail", :required => "", :type => "email"}/                
            /= f.text_field :email, class: 'form-control', :placeholder => "Endereço de e-mail", :required => ""
            %label.sr-only{:for => "password"} Mensagem:
            %text_area.form-control
            /= f.text_area :description, class: 'form-control', :placeholder => "Descrição", :required => ""
            .input              
            %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Enviar
      %footer.mastfoot.mt-auto
        .inner
          %br
          %br
          %br
          %br
          %p
            Cover template for
            = succeed "," do
              %a{:href => "https://getbootstrap.com/"} Bootstrap
            by
            = succeed "." do
              %a{:href => "https://twitter.com/mdo"} @mdo
          %p
            Constellation by
            = succeed "." do
              %a{:href => "https://codepen.io/gabrielaoviedo/"} Gabriela Oviedo

        /
          Bootstrap core JavaScript
          \==================================================
        / Placed at the end of the document so the pages load faster
        %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
        :javascript
          window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
        /
          <script src="bootstrap/js/vendor/popper.min.js"></script>
          <script src="bootstrap/js/bootstrap.min.js"></script>
