.row.justify-content-center
  %main.inner.cover{:role => "main"}
    %form.form-signin          
    = form_for :project, :url => {:controller => 'projects', :action => 'update'}, :method => "patch" do |f|
      %h1.h3.mb-3.font-weight-normal Atualizar projeto
      %label.sr-only{:for => "email"} Título            
      /= f.text_field :title, class: 'form-control', :placeholder => "Título", :required => ""
      %label.sr-only{:for => "password"} Descrição curta do conjunto de imagens
      = f.text_area :description, class: 'form-control', :placeholder => "Descrição", :required => ""            
      %a.card-link{:href => "#"}
        = link_to "Voltar", '/myprojects', :class => 'btn btn-lg btn-primary btn-block'
      %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Enviar

