-# Só mostra apresentação se o usuário não está logado
- if current_user
  %main.text-center.card-trans.narrow
    %h1.cover-heading MONOLITO
    %p.lead Inteligência gera inteligência
    %main.text-center
      %p.lead
        %a.btn.btn-primary{:href => "/label"} 
          %i.fa.fa-pencil
          Colabore
        %a.btn.btn-warning{:href => "/new"} 
          %i.fa.fa-plus
          Crie o seu projeto
    

-#%div
-#  #dashboard
-#    .album.py-5
-#      .container
-#        .row
-#          - @projects.each do |project|
-#            .col-md-4
-#              .card.mb-4.box-shadow
-#                %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"}/
-#                .card-body.text-dark
-#                  %p.card-text= project.name
-#                  %p.card-text= project.user_id
-#-#                  %p.card-text= project.description
-#                  .d-flex.justify-content-between.align-items-center
-#                    .btn-group
-#                      %button.btn.btn-sm.btn-outline-secondary{:type => "button"}= link_to "Read More", post_path(post)
-#                    %small.text-muted 9 mins                  