.card.center-card.card-text
  = form_for :project, :url => {:controller => 'projects', :action => 'create'} do |f|
    %h1.h3.mb-3.font-weight-normal Novo projeto
    %label.sr-only{:for => "title"} Título            
    = f.text_field :name, class: 'form-control', :placeholder => "Título", :required => ""
    %label.sr-only{:for => "description"} Descrição curta do conjunto de imagens
    = f.text_area :description, class: 'form-control', :placeholder => "Descrição (opcional)", :required => ""       
    = f.file_field :files, multiple: true, class: 'form-control', :placeholder => "Imagens", :required => "" 
    %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Enviar
      
