%main.inner.cover.post-content.text-dark.text-center{:role => "main"}
  %h2 Resultado das respostas dos usuários
  .table-responsive
    %table#datatable.table.table-striped.table-sm
      %thead
        %tr
          %th Imagem
          %th Opção 1
          %th Opção 2
          %th Opção 3
          %th Opção 4
          %th Opção 5 
      %tbody
        -@images.each do |image|
          %tr
            %td=image_tag(image.file, alt: "Imagem da pergunta", class: 'img-mini')
            -@opts.each do |option|
              -if option.image_id == image.id
                %td= option.nanswers
              -else
                %td= 0
  %a.badge.badge-success.text-light{:download => "answers.xls", :href => "#", :onclick => "return ExcellentExport.excel(this, 'datatable', 'Sheet Name Here');"} Exportar para o Excel
  %a.badge.badge-dark.text-light{:download => "answers.csv", :href => "#", :onclick => "return ExcellentExport.csv(this, 'datatable');"} Exportar para CSV
  %br 
  %br
  %br
  %small.font-italic
    Algoritmo 'excellentexport' para exportar os dados por 
    %a{:href => 'https://github.com/jmaister/'} jmaister
    , licenciado sob a Licença do MIT.