%main.inner.cover.post-content.text-dark.text-center{:role => "main"}
  %h2 Resultado das respostas dos usuários
  .table-responsive
    %table#datatable.table.table-striped.table-sm
      %thead
        %tr
          %th Imagem
          %th Opção 1
          %th Opção 2
          %th Opção 3
          %th Opção 4
          %th Opção 5 
      %tbody
        %tr
          %td 1,001
          %td Lorem
          %td ipsum
          %td dolor
          %td sit
        %tr
          %td 1,002
          %td amet
          %td consectetur
          %td adipiscing
          %td elit
        %tr
          %td 1,003
          %td Integer
          %td nec
          %td odio
          %td Praesent
        %tr
          %td 1,003
          %td libero
          %td Sed
          %td cursus
          %td ante
        %tr
          %td 1,004
          %td dapibus
          %td diam
          %td Sed
          %td nisi
        %tr
          %td 1,005
          %td Nulla
          %td quis
          %td sem
          %td at
        %tr
          %td 1,006
          %td nibh
          %td elementum
          %td imperdiet
          %td Duis
        %tr
          %td 1,007
          %td sagittis
          %td ipsum
          %td Praesent
          %td mauris
        %tr
          %td 1,008
          %td Fusce
          %td nec
          %td tellus
          %td sed
        %tr
          %td 1,009
          %td augue
          %td semper
          %td porta
          %td Mauris
        %tr
          %td 1,010
          %td massa
          %td Vestibulum
          %td lacinia
          %td arcu
        %tr
          %td 1,011
          %td eget
          %td nulla
          %td Class
          %td aptent
        %tr
          %td 1,012
          %td taciti
          %td sociosqu
          %td ad
          %td litora
        %tr
          %td 1,013
          %td torquent
          %td per
          %td conubia
          %td nostra
        %tr
          %td 1,014
          %td per
          %td inceptos
          %td himenaeos
          %td Curabitur
        %tr
          %td 1,015
          %td sodales
          %td ligula
          %td in
          %td libero
  %a.badge.badge-success.text-light{:download => "answers.xls", :href => "#", :onclick => "return ExcellentExport.excel(this, 'datatable', 'Sheet Name Here');"} Exportar para o Excel
  %a.badge.badge-dark.text-light{:download => "answers.csv", :href => "#", :onclick => "return ExcellentExport.csv(this, 'datatable');"} Exportar para CSV
  %br 
  %br
  %br
  %small.font-italic
    Algoritmo 'excellentexport' para exportar os dados por 
    %a{:href => 'https://github.com/jmaister/'} jmaister
    , licenciado sob a Licença do MIT.