%main.inner.cover{:role => "main"}
.row.justify-content-center
  .card
    .text-center
      %img.card-img-top.img-fluid.img-question{:alt => "Card image cap", :src => "orange.jpeg"}/
    .card-body
      %h5.card-title= @post.title
      %p.card-text= @post.description
    %ul.list-group.list-group-flush
      %li.list-group-item
        %button.btn.btn-light{:type => "button"} Cras justo odio
      %li.list-group-item
        %button.btn.btn-light{:type => "button"} Dapibus ac facilisis in
      %li.list-group-item
        %button.btn.btn-light{:type => "button"} Vestibulum at eros
    .card-body
      %hr
        - if @show_edit
          %a.card-link{:href => "#"}
          = link_to "Edit", edit_post_path(@post), :class => 'btn btn-default'
          %a.card-link{:href => "#"}
          = link_to "Delete", post_path(@post), 
                    method: :delete, data: { confirm: 'Are you sure?' },
                    :class => 'btn btn-danger'
